coverage==7.4.0  # for testing
django==4.2.13 # this needs to be updated
gunicorn==22.0.0
psycopg2-binary==2.9.9
pytest-django==4.7.0  # for testing
pytest==7.4.4  # for testing
wait-for-it==2.2.2
requests==2.32.3
serpapi==0.1.5
black==24.4.2
openai==1.34.0
celery
redis